    @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100..900&display=swap');
    /* :root {
    --font-base: 'Lexend', sans-serif;
    --font-second-base: 'inter', sans-serif;
    --primary-color: #ffffff;
    --secndary-color: #e50914;
} */
    
    body {
        background-color: #111;
        /* font-family: "Charis SIL", serif; */
    }
    
     :root {
        /* font-family: "Lexend", sans-serif; */
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Lexend", sans-serif;
        font-optical-sizing: auto;
    }